
/* ------------------------------------ Aplicamos Variables ----------------------------- */
.boton, .botonPages2, .botonContactos, .botonPagesH, .botonPages, .botonHome {
    background-color: whitesmoke;
    color: whitesmoke;
    font-weight: 700;
  }
  .boton:hover, .botonPages2:hover, .botonContactos:hover, .botonPagesH:hover, .botonPages:hover, .botonHome:hover {
    background-color: orange;
    transition: all 0.2s;
  }
  
  .botonHome {
    width: 100px;
    padding: 5px 10px;
    text-align: center;
    border: solid 2px #203239;
    text-decoration: none;
    background-color: whitesmoke;
    color: #203239;
    border-radius: 5px;
  }
  .botonHome:hover {
    background-color: orange;
    color: black;
    transition: all 0.2s;
  }
  
  .botonPages {
    width: 110px;
    padding: 5px 10px;
    font-weight: 100;
    text-align: center;
    border: solid 2px whitesmoke;
    text-decoration: none;
    background-color: whitesmoke;
    color: #203239;
    border-radius: 5px;
  }
  .botonPages:hover {
    background-color: orangered;
    color: whitesmoke;
    transition: all 0.2s;
  }
  
  .botonPagesH {
    width: 110px;
    padding: 5px 10px;
    font-weight: 100;
    text-align: center;
    border: solid 2px whitesmoke;
    text-decoration: none;
    background-color: orangered;
    color: #203239;
    border-radius: 5px;
  }
  .botonPagesH:hover {
    background-color: rgba(255, 68, 0, 0.879);
    color: whitesmoke;
    transition: all 0.2s;
  }
  
  .botonContactos {
    width: 110px;
    padding: 6px 10px;
    margin: 5px 5px;
    font-weight: 100;
    text-align: center;
    border: solid 2px whitesmoke;
    text-decoration: none;
    background-color: whitesmoke;
    color: #203239;
    border-radius: 5px;
  }
  .botonContactos:hover {
    background-color: orangered;
    color: whitesmoke;
    transition: all 0.2s;
  }
  
  .botonPages2 {
    width: 300px;
    padding: 5px 10px;
    font-weight: 100;
    text-align: center;
    border: solid 2px whitesmoke;
    text-decoration: none;
    background-color: whitesmoke;
    color: #203239;
    border-radius: 5px;
  }
  .botonPages2:hover {
    background-color: orangered;
    color: whitesmoke;
    transition: all 0.2s;
  }

  .botonDetail {
    
    width: 100px;
    padding: 5px 10px;
    font-weight: 100;
    text-align: center;
    border: solid 2px whitesmoke;
    text-decoration: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
  }
  .botonDetail:hover {
    background-color: orangered;
    color: whitesmoke;
    transition: all 0.2s;
  }
  

/* ------------------------------------ NavBar ----------------------------- */



  .NvLn {
    padding: 5px;
    margin: 2px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s;

}

.NvLn:hover {
    background-color: black;
    color: whitesmoke;
}



.iconNav {
  width: 40px;

}


.navBrand {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-right: calc(100vw - 109vw);

}
.navBrand:hover {
  
  color: rgba(12, 12, 12, 0.719);
}

.nav1 {
  background-color: whitesmoke;
  border-bottom: solid 2PX black;
}

.navbar-toggler {
  margin-top: 88px;
}

.nav1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* ------------------------------------ Items ----------------------------- */
.items {
  background-color: gray;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.items2 {
  background-color: gray;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------------------------------------ Contador ----------------------------- */


.countDetail {
  display: flex;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.numberDetail {
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.detailH {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}
/* ------------------------------------ ItemCart ----------------------------- */

.itemsCart {
  display: inline-block;
  justify-content: center;
}

.cartnav {
  color: black;
}
.cartnav:hover {
  border: solid white 3px;
  border-radius: 5px;
}

.CartParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.conCart1 {
  padding: 10px;
  margin: 5px;
}
